html,
body {
  background-color: rgb(240, 240, 240);
}

.grid {
  display: grid;
  grid-template-columns: 60px 200px;
  grid-column-gap: 5px;
}

img.face {
  clip-path: circle(30px at center);
}

p.quote {
  font-size: 14px;
}
